html,
body {
  background-color: #7b67a6;
  color: #faf8ff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.fixed {
  position: fixed;
  top: 0;
  right: 0;
  height: 64px;
  width: 320px;
  padding: 8px;
}

a:link {
  color: #e8c7e6;
  text-align: center;
}

a:hover,
a:active,
a:visited {
  color: #9d8bc2;
  text-align: center;
}
